body {
  font-family: 'Exo', sans-serif;
  margin: 0;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.left-container {
  width: 40%;
  display: inline-block;
  float: left;
  background: linear-gradient(180deg, rgba(46, 204, 113, 0.59) 0%, rgba(46, 49, 146, 0.4661) 100%), url("../img/me.jpg");
  background-size: cover;
  height: 100vh;
}

.right-container {
  width: 60%;
  height: 100vh;
  display: inline-block;
  float: right;
  position: relative;
}

.content {
  /*padding: 50px;*/
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  /*min-height: 600px;*/
}

.navbar {
  font-size: 1.1rem;
  display: block;
  padding: 50px;
}

.navbar-link {
  text-decoration: none;
  color: black;
}

.nav-left {
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  margin-top: -5px;
}

.nav-right {
  display: inline-block;
  float: right;
}

.nav-right .navbar-link {
  margin-left: 40px; 
}

.title {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: 50%;
  overflow: none;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.intro {
  color: #00AB6C;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0px;
}

.name {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.description {
  margin-top: 0px;
  font-size: 1.7rem;
  font-weight: 300;
}

.follow {
  font-size: 1.7rem;
  font-weight: 400;

}

.footer {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 50px;
  /*width: 100%;*/
  /*bottom: 0;*/
}

.footer-links {
  right: 50px;
  position: absolute;
  bottom: 25px;

}

.fa-twitter {
  color: #1DA1F2;
}

.fa-envelope-open-text {
  color: #EB2E2E;
}

.fa-linkedin {
  color: #0077B5;
}

.fa-medium {
  color: #11100f;
}
.footer-links a {
  margin-left: 10px;
  font-size: 1.2rem;

}

.footer-name {
  left: 50px;
  position: absolute;
  bottom: 25px;

}